<!--Footer starts-->
<div class="ftr">
    <div class="container">
        <div class="row">
            <footer>
                <div class="col-xs-6 pull-left ">
                        <address>
                            <h3>BangaloreEventz Inc.</h3>
                            Shivashakthi Arched,<br>
                            S,S,Puram Main Road<br>
                            Tumkur - 572102,<br>
                            <abbr title="Phone">P:</abbr>9008666691.<br>
                            <a href="mailto : bangaloreeventz@gmail.com">bangaloreeventz.com</a><br>


                        </address>
                </div>
                <div class="col-xs-6 " style="padding-top: 20px;">
                    <div class="pull-right">
                        <img  src="/images/logo_footer.png">
                        <p>&copy;BangaloreEventz Inc.</p>
                    </div>
                </div>


            </footer>
        </div>
    </div>
</div>
