<header>
    <nav class="nav navbar-default navbar-fixed-top" role="navigation" >
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#example-nav-collapse"  >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a href="#" id="brandach" class="nav navbar-default navbar-brand" >
                    <img id="brandimg" class="img-responsive" src="/images/logo_3.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="example-nav-collapse" >
                <ul class="nav  navbar-nav nav-pills-active-link-hover-bg">
                    <li class="active" ><a href="#/"><span class="glyphicon glyphicon-home" ></span> <b>Home</b></a></li>
                    <li><a href="#/products"><b>Products</b></a></li>
                    <li><a href="/static/gallery"><b>Gallery</b></a></li>
                    <li><a href="/static/contactus"><b>Contact Us</b></a></li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><b> Social</b><b class="caret"></b></a>
                        <ul class="nav navbar-default dropdown-menu ">
                            <li>
                                <a href="http://www.facebook.com" ><b>Facebook</b></a>
                                <a href="http://www.twitter.com" ><b>Twitter</b></a>
                                <a href="https://www.plus.google.com" ><b>Google Plus</b></a>
                                <a href="http://www.linkedin.com" ><b>LinkedIn</b></a>
                            </li>
                        </ul>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <a id="login" href="#" type="button" class="btn btn-primary navbar-btn btn-lg ">
                        <span class="glyphicon glyphicon-user"></span> Login
                    </a>
                    <a id="cart" href="#" type="button" class="btn btn-primary navbar-btn btn-lg">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="badge">5</span>
                    </a>
                    <a id="wishlist" href="#" type="button" class="btn btn-primary navbar-btn btn-lg">
                        <span class="glyphicon glyphicon-heart-empty"></span> Wishlist <span class="badge">6</span>
                    </a>
                </ul>


            </div>
        </div>
    </nav>
</header>
    <!--Navigation End-->


