<div>
    <hr>
</div>
<div class="container">
    <div class="package-info">
        <div class="row">
            <div class="col-sm-8 " ng-controller="tabController" >
                <tabset justified="true" type="pills">
                    <tab  heading="Package 1">
                        <div class="tab-backgroung">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div><h1>Package 1.</h1> <hr class="hr" > </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">

                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#" > <img class="img-responsive img-circle" src="/images/buy.jpg"></a>
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab  heading="Package 2">
                        <div class="tab-backgroung" >
                            <div class="row">
                                <div class="col-xs-12">
                                    <div><h1>Package 2.</h1> <hr class="hr"> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">

                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#" > <img class="img-responsive img-circle" src="/images/buy.jpg"></a>
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab  heading="Package 3">
                        <div class="tab-backgroung">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div><h1>Package 3.</h1> <hr class="hr"> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">

                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#" > <img class="img-responsive img-circle" src="/images/buy.jpg"></a>
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab  heading="Package 4">
                        <div class="tab-backgroung">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div><h1>Package 4.</h1> <hr class="hr"> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">

                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#" > <img class="img-responsive img-circle" src="/images/buy.jpg"></a>
                                    <p>Discription goes here.</p>
                                </div>
                                <div class="col-xs-4">
                                    <img class="img-responsive img-rounded" src="/images/placehold.gif">
                                    <p>Discription goes here.</p>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div id="package-header" class="col-sm-4 " style="padding-top: 100px" >
                <img class="img-responsive img-rounded" src="/images/img_gift.png">
                <h3>Choose the package that suites your need in the bundle...</h3>
            </div>
        </div>
    </div>

<!--Gallery Starts-->

    <div>
        <hr>
    </div>

    <div class="row" ng-controller="tabController">
        <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Our Works......
                    </div>
                    <div class="panel-body fixed-panel">

                           <div class="col-xs-12">
                               <div class="row" ng-repeat="time in times">
                                   <div>
                                       <hr>
                                   </div>
                                       <div class="col-xs-2 " ng-repeat="(key , value) in images" >
                                           <a href="#" >
                                               <img class=" img-responsive img-rounded" ng-src="{{value}}" alt=""/>
                                           </a>
                                       </div>
                                   <div>
                                       <hr>
                                   </div>
                               </div>


                           </div>


                    </div>
                </div>
        </div>
</div>
</div>



<!--Gallery Ends-->